@charset "utf-8";
@media only screen and (min-width: 360px) {
	html{font-size:21px;}
}
@media only screen and (min-width: 375px) {
	html{font-size:21.5px;}
}
@media only screen and (min-width: 400px) {
	html{font-size:22.5px;}
}
@media only screen and (min-width: 414px) {
	html{font-size:23px;}
}
body{background: #f3f3f3; color:#333;}
img {max-width: 100%;}
.chat-list {padding: .5rem 0;}
.chat-list li {display: none;margin-bottom: .5rem;position: relative;}
.btm-btn {width: 100%;padding: .375rem .5rem;box-sizing: border-box;}
.btn-linear {display: inline-block;padding: 0 .5rem;height: 2.05rem;line-height: 2.05rem;font-size: .8rem;color: #fff;background: linear-gradient(right,#ffa530,#f80b43);background: -webkit-linear-gradient(right,#ffa530,#f80b43);border-radius: 5rem;text-align: center;box-shadow: 0 2px 10px rgba(215,81,58,.48);}
.btn-full {width: 100%;box-sizing: border-box;}
.line-through {font-size: .6rem;text-decoration: line-through;}
.treasure {display: inline-block;width: 2.9rem;height: 3rem;background: url(../images/treasure.png) no-repeat;background-size: 100% 100%;position: fixed;right: .25rem;bottom: 3.25rem;}
.shake {-webkit-animation: shake 1.5s linear infinite; animation: shake 1.5s linear infinite;}
@-webkit-keyframes shake {
  35% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  45% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  55% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  60% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  65% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
@keyframes shake {
  35% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  45% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  55% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  60% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  65% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
.pop-wrap {position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,.6);}
.pop {position: fixed;top: 50%;left: 50%;width: 90%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.hand {display: inline-block;width: 1.625rem;height: 2rem;background: url(../images/hand.png) no-repeat;background-size: 100% 100%;position: absolute;left: 7rem;bottom: -1rem;}
.poke {-webkit-animation: poke 1.5s linear infinite; animation: poke 1.5s linear infinite;}
@-webkit-keyframes poke {
  50% {
    -webkit-transform: translate(-5px,-5px);
    transform: translate(-5px,-5px);
  }
}
@keyframes poke {
  50% {
    -webkit-transform: translate(-5px,-5px);
    transform: translate(-5px,-5px);
  }
}
/*购买成功*/
.success-box {background-color: #fff;padding: 1.25rem .75rem;text-align: center;line-height: 1;}
.success-box .icon {display: inline-block;width: 2rem;height: 2rem;background: url(../images/icon-success.png) no-repeat;background-size: 100% 100%;}
.success-box .tit {font-size: .8rem;font-weight: bold;padding-left: .5rem;margin: .5rem 0;padding-bottom: .5rem;position: relative;}
.success-box .tit:after {content: '';display: inline-block;width: 2.5rem;height: 1px;background-color: #efefef;position: absolute;bottom: -1px;left: 50%;margin-left: -1.25rem;}
.success-box p {font-size: .6rem;color: #666;}
.cus-list {padding: .6rem;font-size: .6rem;color: #5b5b5b;}
.cus-list li {padding-left: 1rem;position: relative;margin-bottom: .5rem;}
.cus-list li:before {content: '';display: inline-block;width: .6rem;height: .6rem;background: url(../images/right.png) no-repeat;background-size: 100% 100%;position: absolute;left: 0;top: 2px;}
.custxt {display: inline-block;color: #007cd9;text-decoration: underline;}
